img {
    position: relative;
    margin-left: 1%;
    margin-right: auto;
    
}

body {
    background-image: url(./image/fundo.jpg);
    background-size: 100%;
}

.lista {
    list-style: none;
    position: relative;
}

.obj {
    width: 27%;
    list-style: none;
    font-family:sans-serif;
    font-weight:bold;
}

ul {
    background-color: rgb(253, 253, 176);
    width: 40%;
    float: right;
    margin: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #00f;
    border-radius: 20px;
    padding: 10px;
}

li {
    width: 500px;
}